<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/assets/css/burger_style.css" />
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/assets/js/burgers.js"></script>
  <title>EAT THE BURGER</title>
</head>

<body>
  <div><img src="burger.png" , alt="burger image"> </div>
  {{{ body }}}

</body>

</html>