body {
  text-align: center;
  background-color: lightsteelblue;
}

button {
  cursor: pointer;
}
ul {
  list-style-type: none;
}
li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;

  font-weight: bold;
}

.label {
  font-weight: bold;
}

.create-form {
  padding: 5px;
  margin: 5px;
}

.form-group {
  margin-bottom: 5px;
}
